<link rel="stylesheet" href="styles/navbar.css">
<div class="navbar">    
    <a class="pokeball-icon" href="/">
        <!-- <img src="assets/pokeball_icon.png" alt="pokeball-home-icon"> -->
        <p>Pokedex</p>
    </a>
    <a class="trainer-icon" href="/trainers">
        <!-- <img src="assets/pokemon_trainer_icon.png" alt="trainer-icon"> -->
        <p>Trainers</p>
    </a>
</div>