<link rel="stylesheet" href="/styles/searchBar.css">
<form class="search-bar hidden" action="/" method="POST">
    <input type="text" maxlength="10" placeholder="Search..." name="searchPokemon" id="searchPokemon" autocomplete="off">
</form>