.all-pokemon-view {
    height: 100%;
    width: 80%;
    padding: 5em 0;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.pokemon-view {
    width: 300px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--view-background-color);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: transform 100ms;
}

.pokemon-view:hover {
    transform: scale(1.1);
}

.pokemon-view > img {
    width: 40%;
}

p {
    color: var(--font-color);
}