.types-navbar {
  display: flex;
  gap: 1rem;
  width: 90%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.type-view {
  width: 75px;
  height: fit-content;
  cursor: pointer;
}

.type-view > img {
  display: block;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

@media(max-width: 930px) {
  .type-view {
    width: 50px;
  }
}
